<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.serj.inmobiliaria" >

    <!-- Permiso camara -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <!-- Permiso de lectura para acceder a la galería de fotos de la memoria externa -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Permiso de escritura en la memoria externa del dispositivo -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.serj.inmobiliaria.Principal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.serj.inmobiliaria.Secundaria"
            android:label="@string/title_activity_secundaria"
            android:theme="@style/NoActionBar" >
        </activity>
        <activity
            android:name="com.example.serj.inmobiliaria.Editar"
            android:label="@string/title_activity_editar"
            android:theme="@style/NoActionBar">
        </activity>
    </application>

</manifest>
